 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 600px;
    padding: 20px;
    border: 2px solid black;
    background: white;
    position: relative;
}

.header {
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 10px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.gallery-box {
    border: 2px solid black;
    padding: 20px;
}

.box {
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 12px;
}

.big {
    height: 150px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.small {
    width: 45%;
    height: 100px;
}

.medium {
    width: 45%;
    height: 150px;
}

.medium2 {
    height: 140px;
}

.footer {
    border: 2px solid black;
    margin-top: 10px;
    padding: 12px;
    display: flex;
    justify-content: flex-end;
    gap: 6px;
}

.circle {
    width: 12px;
    height: 12px;
    border: 2px solid black;
    border-radius: 50%;
}